/* Copyright 2018 Tecnativa - Jairo Llopis
 * Copyright 2021 ITerra - Sergey Shebanin
 * License OPL-1.0 or later (http://www.gnu.org/licenses/lgpl). */

@mixin full-screen-dropdown {
    border: none;
    box-shadow: none;
    min-height: calc(100vh - #{$o-navbar-height});
    min-height: calc(var(--vh100, 100vh) - #{$o-navbar-height});
    position: fixed;
    margin: 0;
    width: 100vw;
    z-index: 200;
    left: 0 !important;
    top: $o-navbar-height !important;
}

// We can't use display: none here because of tests
.o_first_app .o_navbar_apps_menu .dropdown-toggle {
    z-index: -1;
    cursor: default;
}
.o_apps_menu_opened .o_main_navbar {
    .o_menu_brand,
    .o_menu_sections {
        display: none;
    }
    border-bottom: none !important;
    // border-bottom: 1px solid #b3e0fd;
}
// Menu Bar Icon
.o_MessagingMenu_counter {
    background-color: #ffc173;
}
.o_MessagingMenu_counter.badge {
    border: 1px solid #ffc173;
}
.o_notification_counter.badge {
    background-color: #ffc173;
    border: 1px solid #ffc173;
    color: black;
}
// App Settings
.o_base_settings .o_setting_container .settings > .app_settings_block h2 {
    background-color: $o-brand-odoo;   
}
// control panel
.o_control_panel {
    border-bottom: none;
}
.o_base_settings .o_control_panel .o_panel .o_setting_search .searchIcon {
    display: none;
}
.o_search_panel {
    border-right: none;
}
// Kanban
.o_kanban_view.o_kanban_ungrouped {
    background-color: white;
}
.o_kanban_record {
    border-radius: 10px;
}
// Module Icon
.oe_module_icon {
    border-radius: 10px;
}
// Table 
.o_list_view .table-responsive .o_list_table thead tr th{
    background-color: $o-brand-odoo;
}
// Button
.btn.btn-secondary.fa.fa-download.o_list_export_xlsx {
    background-color: transparent;
    border-color: transparent;
}
.fa.fa-chevron-left.btn.btn-secondary.o_pager_previous.rounded-left {
    background-color: transparent;
    border-color: transparent;
}
.fa.fa-chevron-right.btn.btn-secondary.o_pager_next.rounded-right {
    background-color: transparent;
    border-color: transparent;
}
.btn.btn-secondary.o_list_button_discard{
    background-color: transparent;
    border: none;
}
.o_form_view .o_notebook > .o_notebook_headers > .nav.nav-tabs > .nav-item > .nav-link {
    border-color: transparent;
    background-color: transparent;
}
// Smart Button
.o_form_view .oe_button_box .btn.oe_stat_button > .o_stat_info .o_stat_value {
    color: #ff9616;
}
// Table
.o_list_view .table-responsive .o_list_table thead tr:nth-child(odd) th {
    background-color: $o-brand-odoo;
    border-left: none;
}
.o_list_view .table-responsive .o_list_table thead tr:nth-child(even) th {
    background-color: $o-brand-odoo;
    border-left: none;
}
.o_list_view .o_list_table tbody:first-of-type > tr:first-child:not(.o_group_header) {
    box-shadow: none;
}
.table th, .table td {
    border-top: none;
}
// State
.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:not(:first-child):after {
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: none;
    background-color: transparent;
}
.btn.o_arrow_button.btn-primary.disabled {
    border-radius: 0px;
}
.btn.o_arrow_button.btn-secondary.disabled {
    border-radius: 0px;
}
.o_form_view .oe_button_box {
    box-shadow: none;
}
.btn.oe_stat_button {
    box-shadow: inset 0 -1px 0 #C9CCD2;
}
// Chatter
.o_Message.o-not-discussion{
    background-color: white;
}
.o_ThreadViewTopbar{
    background-color: white;
    border-bottom: none !important;
}
.bg-light{
    background-color: white !important;
}
hr.o_DiscussSidebar_separator{
    border-top: none;
    background-color: transparent;
}
// Calendar
.fc-widget-header{
    background-color: #0e96ed !important;
    color: white !important;
}
.o_calendar_sidebar_container .o_calendar_filter .o_calendar_filter_items_checkall{
    overflow: unset;
}
.o_calendar_sidebar_container .ui-datepicker td.ui-datepicker-current-day.ui-datepicker-today a{
    background-color: #ff9616;
}
.o_calendar_view .o_calendar_widget .fc-dayGridMonth-view .fc-content-skeleton .fc-today .fc-day-number {
    background: #ff9616;
}
// Iconized full screen apps menu
.o_navbar_apps_menu {
    .fade-enter-active,
    .fade-leave-active {
        transition: opacity 100ms ease;
    }
    .fade-enter,
    .fade-leave-to {
        opacity: 0;
    }
    .dropdown-menu {
        @include full-screen-dropdown();
        cursor: pointer;
        background: url("../../img/background.svg"),
            linear-gradient(
                to bottom,
                $o-brand-odoo,
                desaturate(lighten($o-brand-odoo, 20%), 15)
            );
        background-size: cover;
        border-radius: 0;
        // Display apps in a grid
        align-content: flex-start;
        display: flex !important;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;

        @include media-breakpoint-up(lg) {
            padding: {
                left: calc((100vw - 850px) / 2);
                right: calc((100vw - 850px) / 2);
            }
        }

        .dropdown-item {
            padding: 0;
        }

        .o_app {
            background: none;
            img {
                box-shadow: none;
                margin-bottom: 5px;
                transition: 300ms ease;
                transition-property: box-shadow, transform;
            }

            a {
                outline: 0;
                height: 100%;
                display: flex;
                align-items: center;
                text-align: center;
                flex-direction: column;
                justify-content: flex-start;
                white-space: normal;
                color: $o-brand-odoo-font;
                padding: 15px 0 10px;
                font-size: 1.25rem;
                // text-shadow: 1px 1px 1px rgba(gray("black"), 0.4);
                border-radius: 4px;
                transition: 300ms ease;
                transition-property: background-color;
                background: none;
                &:focus {
                    background-color: rgba(gray("white"), 0.05);
                }
            }
            &:hover img,
            a:focus img {
                transform: translateY(-3px);
                box-shadow: 0 9px 12px -4px rgba(gray("black"), 0.3);
            }

            // Size depends on screen
            width: 33.33333333%;
            @include media-breakpoint-up(sm) {
                width: 25%;
            }
            @include media-breakpoint-up(md) {
                width: 16.6666666%;
            }
        }

        // Hide app icons when searching
        .has-results ~ .o_app {
            display: none;
        }

        .o-app-icon {
            height: auto;
            max-width: 8rem;
            padding: 0;
        }

        // Search input for menus
        .form-row {
            width: 100%;
        }

        .search-container {
            width: 100%;
            margin: 1rem 1.5rem 0;

            .search-input {
                display: flex;
                justify-items: middle;
                box-shadow: inset 0 1px 0 rgba(gray("white"), 0.1),
                    0 1px 0 rgba(gray("black"), 0.1);
                text-shadow: 0 1px 0 rgba(gray("black"), 0.5);
                border-radius: 25px;
                padding: 0.4rem 0.8rem;
                margin-bottom: 1rem;
                background-color: rgba(gray("white"), 0.1);

                @include media-breakpoint-up(md) {
                    padding: 0.8rem 1.2rem;
                }

                .search-icon {
                    color: $o-brand-odoo-font;
                    font-size: 1.5rem;
                    margin-right: 1rem;
                    padding-top: 1px;
                }

                .form-control {
                    height: 2rem;
                    background: none;
                    border: none;
                    color: $o-brand-odoo-font;
                    display: block;
                    padding: 1px 2px 2px 2px;
                    box-shadow: none;

                    &::placeholder {
                        color: $o-brand-odoo-font;
                        opacity: 0.5;
                    }
                }
            }
            // Allow to scroll only on results, keeping static search box above
            .search-results {
                margin-top: 1rem;
                max-height: calc(100vh - #{$o-navbar-height} - 8rem) !important;
                overflow: auto;
                position: relative;
            }
            .search-result {
                display: block;
                align-items: center;
                background-position: left;
                background-repeat: no-repeat;
                background-size: contain;
                color: $o-brand-odoo-font;
                cursor: pointer;
                line-height: 2.5rem;
                padding-left: 3.5rem;
                white-space: normal;
                font-weight: 100;
                &.highlight,
                &:hover {
                    background-color: rgba($o-brand-odoo-font, 0.11);
                }
                b {
                    font-weight: 700;
                }
            }
        }
    }
}

.o_main_navbar .dropdown .dropdown-toggle, .o_main_navbar .o_menu_sections .dropdown .dropdown-toggle,
.o_main_navbar .o_menu_systray .dropdown .dropdown-toggle, .o_main_navbar .o_nav_entry,
.o_main_navbar .o_menu_sections .o_nav_entry, .o_main_navbar .o_menu_systray .o_nav_entry,
.o_main_navbar > .o_menu_sections > div, .o_main_navbar > .o_menu_sections > div > a,
.o_main_navbar .o_menu_systray > div, .o_main_navbar .o_menu_systray > div > a,
.o_main_navbar .o_menu_toggle, .o_main_navbar .o_navbar_apps_menu, .o_main_navbar .o_menu_brand {
    color: $o-brand-odoo-font;
}
