/* Copyright 2018 Tecnativa - Jairo Llopis
 * Copyright 2021 ITerra - Sergey Shebanin
 * License OPL-1.0 or later (http://www.gnu.org/licenses/lgpl). */

$chatter_zone_width: 35%;

// Support for long titles
@include media-breakpoint-up(md) {
    .o_form_view .oe_button_box + .oe_title,
    .o_form_view .oe_button_box + .oe_avatar + .oe_title {
        /* Button-box has a hardcoded width of 132px per button and have three columns */
        width: calc(100% - 450px);
    }
}

// Scroll all but top bar
html .o_web_client .o_action_manager .o_action {
    @include media-breakpoint-down(sm) {
        overflow: auto;

        .o_content {
            overflow: visible;
        }
    }

    max-width: 100%;
}

@include media-breakpoint-down(sm) {
    .ui-menu .ui-menu-item {
        height: 35px;
        font-size: 15px;
    }
    .o_calendar_view .o_calendar_widget {
        .fc-timeGridDay-view .fc-axis,
        .fc-timeGridWeek-view .fc-axis {
            padding-left: 0px;
        }
        .fc-dayGridMonth-view {
            padding-left: 0px;
            .fc-week-number {
                display: none;
            }
        }
        .fc-dayGridYear-view {
            padding-left: 0px;
            > .fc-month-container {
                width: 95%;
            }
        }
        .fc-timeGridDay-view {
            .fc-week-number {
                padding: 0 4px;
                width: 1em;
                white-space: normal;
                text-align: center;
            }
            .fc-day-header {
                vertical-align: middle;
            }
        }
        .fc-timeGridWeek-view .fc-widget-header {
            word-spacing: 4em;
            white-space: normal;
            text-align: center;
        }
    }
    .o_base_settings .o_setting_container {
        display: block;
        .settings_tab {
            flex-flow: row nowrap;
            padding-top: 0px;
            .tab {
                padding-right: 16px;
            }
            .selected {
                background-color: #212529;
                box-shadow: inset 0 -5px #7c7bad;
            }
        }
    }
}

// Size of labels
.o_web_client {
    &.o_chatter_position_sided {
        .o_action_manager {
            .o_content,
            .modal-content {
                @include media-breakpoint-between(lg, xl, $o-extra-grid-breakpoints) {
                    .o_group_col_6 {
                        width: 100% !important;
                    }
                }
            }
        }
    }
    &:not(.o_chatter_position_sided) {
        @include media-breakpoint-up(lg, $o-extra-grid-breakpoints) {
            .o_action_manager {
                .o_content,
                .modal-content {
                    .o_inner_group {
                        .o_td_label {
                        }
                    }
                }
            }
        }
    }
}

// Normal views

// Sticky Header & Footer in List View
.o_list_view {
    .table-responsive {
        .o_list_table {
            // th & td are here for compatibility with chrome
            thead tr:nth-child(1) th {
                position: sticky;
                top: 0;
                z-index: 1;
            }
            thead tr:nth-child(1) th {
                background-color: $o-list-footer-bg-color;
            }
            tfoot,
            tfoot tr:nth-child(1) td {
                position: sticky;
                bottom: 0;
            }
            tfoot tr:nth-child(1) td {
                background-color: $o-list-footer-bg-color;
            }
        }
    }
}

// Big checkboxes
.o_list_view,
.o_settings_container .o_setting_box {
    .o_setting_right_pane {
        margin-left: 34px;
    }
    .custom-checkbox:not(.o_boolean_toggle) {
        margin-right: 10px;

        .custom-control-label {
            &::after {
                width: 24px;
                height: 24px;
            }
            &::before {
                outline: none !important;
                border: 1px solid #4c4c4c;
                width: 24px;
                height: 24px;
            }
        }
    }
}
.o_list_view {
    .custom-checkbox:not(.o_boolean_toggle) {
        top: -6px;
    }
}
@include media-breakpoint-down(sm) {
    .o_base_settings
        .o_setting_container
        .settings
        > .app_settings_block
        .o_settings_container {
        padding-left: 0;
        padding-right: 0;
    }
}

.o_list_view .table-responsive .o_list_table tfoot, .o_list_view .table-responsive .o_list_table tfoot tr:nth-child(1) td {
    background-color: whitesmoke;
    border-bottom: 1px solid #e0e2e6;
}

.o_form_view .o_notebook > .tab-content {
    border-bottom: hidden;
}

// .o_required_modifier.o_input, .o_required_modifier .o_input {
//     background-color: #d5eaf1 !important;
//     border-bottom: 1px solid #dee2e6;
//     padding-left: 3px;
// }

.o_field_widget.o_field_many2one .o_external_button {
    background-color: white;
}

.o_form_view .o_group .o_td_label, .o_form_view .o_group .o_checkbox_optional_field > .o_form_label {
    border-right: 1px solid #ddd;
}

.o_form_view .o_group.o_inner_group.oe_subtotal_footer .o_td_label {
    border-right: none;
}

.o_form_view .o_group.o_inner_group > tbody > tr > td {
    padding: 0px 36px 0px 8px;
}

.o_list_view .table-responsive .o_list_table thead tr:nth-child(1) th {
    border-left: 1px solid #dfdfdf;
}

.o_form_view.o_xxs_form_view .o_form_label {
    color: black;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .o_kanban_view.o_kanban_dashboard .o_kanban_record .o_kanban_card_manage_pane.container div[class*="col-"] > .o_kanban_card_manage_title, .o_kanban_view.o_kanban_dashboard .o_kanban_record .o_kanban_card_manage_pane.o_container_small div[class*="col-"] > .o_kanban_card_manage_title, .h6 {
    color: black;
}

.o_base_settings .o_setting_container .settings > .app_settings_block h2 {
    color: $o-brand-odoo-font;
}

.o_list_view .table-responsive .o_list_table thead tr:nth-child(odd) th {
    color: $o-brand-odoo-font;
}
